* + * {
  box-sizing: border-box;
  margin: 0.5em 0;
}

@media (min-width: 35em) {
  .col {
    display: table-cell;
  }
  .\31 {
    width: 5%;
  }
  .\33 {
    width: 22%;
  }
  .\34 {
    width: 30%;
  }
  .\35 {
    width: 40%;
  }
  .\32 {
    width: 15%;
  }
  .row {
    display: table;
    border-spacing: 1em 0;
  }
}

.row,
.w-100 {
  width: 100%;
}

.card:focus,
hr {
  outline: 0;
  border: 1px dashed #5f8dd3;
}

.card,
pre {
  padding: 1em;
  border: solid #eee;
  overflow: auto;
}

code {
  background-color: gray;
  border-radius: 2px;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

img {
  width: 100%;
  border-radius: 7px;
}

.btn:hover,
a:hover {
  opacity: 0.6;
}

.c {
  max-width: 60em;
  padding: 1em;
  margin: auto;
  font: 1em/1.6 "Barlow";
  color: #fff;
  text-align: center;
}

h6 {
  font-size: 1em;
  font-family: "Barlow";
}

h5 {
  font-size: 1em;
  font-family: "Barlow";
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-family: "Barlow";
}

h4 {
  font-size: 1em;
  font-family: "Barlow";
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  font-family: "Barlow";
  color: #5f8dd3;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2em;
  font-family: "Barlow";
  color: #5f8dd3;
}

a {
  color: #5f8dd3;
  text-decoration: none;
}

.btn.primary {
  color: #fff;
  background: #5f8dd3;
  border: solid #5f8dd3;
}

td,
th {
  padding: 1em;
  text-align: left;
  color: #fff;
  border-bottom: solid #eee;
}

.btn {
  cursor: pointer;
  padding: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #fff;
  border: solid #5f8dd3;
  font-size: 0.7em;
  font-family: "Barlow";
}

body {
  background: #000000;
}

strong {
  font-family: "Barlow", sans-serif;
}

em {
  font-family: "Barlow", sans-serif;
  font-style: italic;
}

div.footer {
  line-height: 2em;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 0.9em;
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin-bottom: 0em;
  height: 2em;
  width: 100%;
  background: #3f3f3f;
}

div.msg {
  border-radius: 9px;
  border: 2px solid #ffbb00;
  padding: 1em;
}

@font-face {
  font-family: "Barlow";
  font-weight: 400;
  src: url("Barlow-Regular.woff2") format("woff2");
}
